[submodule "emulator"]
	path = emulator
	url = https://github.com/rybealey/PlusEMU.git
[submodule "cms"]
	path = cms
	url = https://github.com/rybealey/atomcms.git
[submodule "client"]
	path = client
	url = https://github.com/rybealey/nitro-react.git
	branch = pixelrp
